In [1]:
import pandas as pd
d = {'PARENT_PART': ['KRC161262', 'KRC161262', 'KRC161833', 'KRC161834', 'KRC161834'], 'CITY': ['BARCELONA', 'MADRID', 'BARCELONA', 'BARCELONA', 'MADRID'], 'GOOD_OR_FAULTY': ['GOOD', 'GOOD', 'GOOD','GOOD','FAULT']}

df = pd.DataFrame(data=d)

grouped1 = df.groupby(['PARENT_PART', 'CITY']).size().reset_index(name='counts')

for index, row in grouped1.iterrows():    
    ciudad = row['CITY']    
    codigo = row['PARENT_PART']
    counts = grouped1.loc[(grouped1['PARENT_PART'] == codigo) & (grouped1['CITY'] == ciudad), 'counts'].values[0]
    df.loc[index, ciudad] = counts
print(df)

  PARENT_PART       CITY GOOD_OR_FAULTY  BARCELONA  MADRID
0   KRC161262  BARCELONA           GOOD        1.0     NaN
1   KRC161262     MADRID           GOOD        NaN     1.0
2   KRC161833  BARCELONA           GOOD        1.0     NaN
3   KRC161834  BARCELONA           GOOD        1.0     NaN
4   KRC161834     MADRID          FAULT        NaN     1.0

In [3]:
df.groupby(df['PARENT_PART']).agg(pd.Series.mode)

                            CITY GOOD_OR_FAULTY  BARCELONA MADRID
PARENT_PART
KRC161262    [BARCELONA, MADRID]           GOOD        1.0    1.0
KRC161833              BARCELONA           GOOD        1.0     []
KRC161834    [BARCELONA, MADRID]  [FAULT, GOOD]        1.0    1.0

In [8]:
d = {'PARENT_PART': ['KRC161262', 'KRC161262', 'KRC161833', 'KRC161834', 'KRC161834'], 'CITY': ['BARCELONA', 'MADRID', 'BARCELONA', 'BARCELONA', 'MADRID'], 'GOOD_OR_FAULTY': ['GOOD', 'GOOD', 'GOOD','GOOD','FAULT']}

df = pd.DataFrame(data=d)
df.head()

  PARENT_PART       CITY GOOD_OR_FAULTY
0   KRC161262  BARCELONA           GOOD
1   KRC161262     MADRID           GOOD
2   KRC161833  BARCELONA           GOOD
3   KRC161834  BARCELONA           GOOD
4   KRC161834     MADRID          FAULT

In [10]:
df.pivot(index='PARENT_PART', columns='CITY', values='GOOD_OR_FAULTY')

CITY        BARCELONA MADRID
PARENT_PART
KRC161262        GOOD   GOOD
KRC161833        GOOD    NaN
KRC161834        GOOD  FAULT